asgiref==3.5.2
cffi==1.15.1
channels==3.0.4
cryptography==38.0.1
distlib==0.3.6
Django==3.2.16
django-cors-headers==3.13.0
djangorestframework==3.14.0
filelock==3.8.0
mysql==0.0.3
mysql-connector==2.2.9
mysqlclient==2.1.1
platformdirs==2.5.2
pycparser==2.21
PyMySQL==1.0.2
pytz==2022.4
sqlparse==0.4.3
virtualenv==20.16.5
